<div class="row">
  <div class="large-2 medium-2 small-3 columns">
    <p class="message_sender"><span><%= message.sender.name %></span></p>
  </div>
  <div class="large-10 medium-10 small-9 columns">
    <p class="message_content"><span><%= message.body %></span></p>
  </div>
</div>