<div class="col-xs-5" id="listingPreviewImgDiv">
  <img src="https://upload.wikimedia.org/wikipedia/commons/e/e1/Wallstreet_-_A_New_Era.jpg" class="img-responsive pull-right" id="listingPreviewImg" style="border-radius:0.3em;">
</div>
<div class="col-xs-6" id="listingPreviewInfo">
  <div style="border-right:1px solid #CACACA; border-bottom:1px solid #CACACA; float:left; background-color:rgba(255, 241, 241, 0.4);border-radius:0.5em; padding-top:2px; padding-bottom:4px; padding-right:3px; ">
    <p><%= @listing.address.upcase %></p>
    <p id="listingPreviewInfoBottomText">$<%= @listing.parking_slots.first.daily_price %>/Day | <%= @listing.parking_slots.first.vehicle_class %> Parking</p>
  </div>
</div>
