<div class="container">
  <h2>WELCOME!</h2>
 
  <div id="search-div">
    <div id="search-message">
      <p>Where would you like to search today?</p>
    </div>
    <input id="term" name="term" type="text" class="controls" placeholder="Enter a location" %>
  </div>


  <div id="map-container">
    <div id="map"></div>
  </div>

  <div class="single-listing">
  </div>

</div>