<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>spcs</h1>

	<p>Dear <%= @booker.first_name %>,</p>
	<p></p>
	<p>Turns out the spc you rented out is no longer available. You can expect a refund in the near future.</p>

	<p>Sincerely,</p>
	<p>Team spcs</p>
</body>
</html>