<h2>Number of Parking Space</h2>
<!-- Use the rails url generators -->
<%=form_tag("/listings/#{@listing_id}/parking_slots",method:"post") do%>
	<div class="form-group">
		<%= label_tag "quantity", "Number of Parking Spots"%>
		<%= text_field_tag "quantity",nil, class:"form-control", placeholder:"Number of Parking Spots that You Would Like to Offer"%>
	</div>
	<div class="form-group">
		<%= submit_tag "Continue", class:"btn btn-md btn-default"%>
	</div>
<%end%>