<form action="/charges" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key="pk_test_GNkZKnVDlMTTXnR2mFFpBWQp"
    data-image="/square-image.png"
    data-name="drivewaze"
    data-description="2 widgets ($20.00)"
    data-amount="2000">
  </script>
</form>