#map-container {
  width: 100%;
}

#map {
  width: 100%;
  height: 70vh;
}

li{
  list-style-type: none;
}
#total-container{
  display:inline;
}
#totalDisplay{
  display:inline;
}

@media (max-device-width: 480px){
  #message-title{
    text-align: center;
    padding-bottom: 1.5em;
  }
  #messages{
    height: 60em;
    overflow-y: auto;
    margin-bottom: 1.5em;
  }
  #messages > div {
    height: 160px;
    font-size: 2.4em;
  }
  #to-user-tag{
    display: inline-block;
    width: 80px;
    font-size: 2.2em;
  }
  #from-user-tag{
    display: inline-block;
    width: 80px;
    font-size: 2.2em;
  }
  #toUser {
    font-size: 2.2em;
    color: black;
  }
  #fromUser {
    font-size: 2.2em;
    color: black;
    margin-bottom: 1.5em;
  }
  #msgText{
    font-size: 2.2em;
  }
  #submit-message{
    height: 180px;
    font-size: 1.7em;
  }
  .navbar{
    height: 2.2em;
    padding-top: 15px;
    font-size: 2.5em
  }
  #logo{
    font-size: 1.5em
  }
  body {
    width: 100%;
  }


}

#profile-pic{
    margin-left: -4em;
}
#profile-summary{
  margin-right: -3em;
}
#favorites-button{
  margin-top: 1.7em;
  margin-bottom: 1.7em;
}
#user-info{
  font-size: 1.5em;
}
#profile-content{
  margin-top: 4em;
  font-size: 1.2em;
}
#proftabs{
  font-size: 1.3em;
}

.bubble {
  background-image: linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
background-image: -o-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
background-image: -moz-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
background-image: -ms-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.25, rgb(210,244,254)),
  color-stop(1, rgb(149,194,253))
);
  border: solid 1px rgba(0, 0, 0, 0.5);
  /* vendor rules */
  border-radius: 20px;
  /* vendor rules */
  box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.2);
  /* vendor rules */
  box-sizing: border-box;
  clear: both;
  float: left;
  margin-bottom: 20px;
  padding: 8px 30px;
  position: relative;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
  width: auto;
  max-width: 100%;
  word-wrap: break-word;
}

.bubble:before, .bubble:after {
  border-radius: 20px / 10px;
  content: '';
  display: block;
  position: absolute;
}

.bubble:before {
  border: 10px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: -7px;
  z-index: -2;
}

.bubble:after {
  border: 8px solid transparent;
  border-bottom-color: #d2f4fe;
  bottom: 1px;
  left: -5px;
}

.bubble--alt {
  background-image: linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
background-image: -o-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
background-image: -moz-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
background-image: -ms-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.25, rgb(172,228,75)),
  color-stop(1, rgb(122,205,71))
);
  float: right;
}

.bubble--alt:before {
  border-bottom-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px / 10px;
  left: auto;
  right: -7px;
}

.bubble--alt:after {
  border-bottom-color: #ace44b;
  border-radius: 20px / 10px;
  left: auto;
  right: -5px;
}

.single-listing{
  cursor: pointer;
}

input#term {
  width: 300px;
  border-radius: 10px;
}

input#term:focus {
  border-radius: 10px;
}

#search-div {
  margin-bottom: .25em;
}

#logo {
  margin: 0;
}

@media (max-width: 800px) {
  body {
    font-size: 2em;
  }
}
