.selectedDate{
    background-color: yellow;
  }
  td{
    border: 1px solid #ECECEC;
    border-radius: 0.5em;
  }
  .blackout{
    background-color: #DDE8E8;
  }
  .past-month{
    background-color: #CCC9C9;
  }
  .this-month-past{
    background-color: #CCC9C9;
  }

  .present{
    background-color: #5FDC9E;
  }

  .this-month .future{
    background-color: #DCE8DA;
  }

  .future-month{
    background-color: white;
  }
  tr{
    height:3em;
  }
  .selected{
    /*background-color: #C1C1C1;*/
    background-image: linear-gradient(to bottom,#BDBDBD 0,#BDBDBD 100%);
  }
  .selected:focus, .selected:hover{
    background-color:#C1C1C1;
  }