<div id="cal-div" style="width:70%; margin:0 auto; margin-top:2em;" data-id="<%=@parking_slot.id%>"></div>

<div class="modal fade" id="newEvent" tabindex="-1" role="dialog" aria-labelledby="newEventLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newEventLabel">Set Price</h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <p>Start Time: <span id="startTime"></span></p>
          <p>End Time: <span id="endTime"></span></p>
          <span id="hiddenStartTime" class="hide"></span>
          <span id="hiddenEndTime" class="hide"></span>
          <button class="form-control" id="blackOutTimeSlotButton">Mark Unavailable</button>
        </div>
      </div>

    </div>
  </div>
</div>
